ShoppingDemo.App/obj/Debug/netcoreapp5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.AssemblyInfo.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/project.razor.json
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.AssemblyInfoInputs.cache
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.csproj.AssemblyReference.cache
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.GeneratedMSBuildEditorConfig.editorconfig
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.RazorAssemblyInfo.cache
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.RazorAssemblyInfo.cs
