ShoppingDemo.App/obj/Debug/netcoreapp5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.AssemblyInfo.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/project.razor.json
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.AssemblyInfoInputs.cache
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.csproj.AssemblyReference.cache
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.GeneratedMSBuildEditorConfig.editorconfig
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.RazorAssemblyInfo.cache
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.RazorAssemblyInfo.cs
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.Data.SqlClient.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.AspNetCore.Identity.UI.Views.V4.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.AspNetCore.Identity.UI.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.AspNetCore.Cryptography.Internal.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Humanizer.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/AutoMapper.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.EntityFrameworkCore.Design.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.EntityFrameworkCore.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.EntityFrameworkCore.Relational.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.Extensions.DependencyInjection.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.Extensions.FileProviders.Embedded.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.Extensions.Identity.Core.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.Extensions.Identity.Stores.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.Identity.Client.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.IdentityModel.JsonWebTokens.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.IdentityModel.Logging.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.IdentityModel.Protocols.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Microsoft.IdentityModel.Tokens.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/Newtonsoft.Json.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/ShoppingAppDemo.deps.json
ShoppingDemo.App/bin/Debug/netcoreapp5.0/ShoppingAppDemo.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/System.Runtime.Caching.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/System.IdentityModel.Tokens.Jwt.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/System.Configuration.ConfigurationManager.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/ShoppingAppDemo.Views.pdb
ShoppingDemo.App/bin/Debug/netcoreapp5.0/ShoppingAppDemo.Views.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/ShoppingAppDemo.StaticWebAssets.xml
ShoppingDemo.App/bin/Debug/netcoreapp5.0/ShoppingAppDemo.runtimeconfig.json
ShoppingDemo.App/bin/Debug/netcoreapp5.0/ShoppingAppDemo.runtimeconfig.dev.json
ShoppingDemo.App/bin/Debug/netcoreapp5.0/ShoppingAppDemo.pdb
ShoppingDemo.App/bin/Debug/netcoreapp5.0/ShoppingAppDemo.exe
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/Home/index.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/Home/Privacy.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/Identity/EditAddress.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/Identity/EditPaymentDetails.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/Identity/Login.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/Identity/Register.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/Identity/ViewAccount.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/Item/Add.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/Item/Delete.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/Item/Edit.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/Order/PlaceOrder.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/Item/ResourceNotFound.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/Order/ViewOrders.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/Shared/Error.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/ShoppingCart/AddToCart.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/ShoppingCart/RemoveFromCart.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/ShoppingCart/ViewCart.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/staticwebassets/ShoppingAppDemo.StaticWebAssets.Manifest.cache
ShoppingDemo.App/obj/Debug/netcoreapp5.0/staticwebassets/ShoppingAppDemo.StaticWebAssets.xml
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ref/ShoppingAppDemo.dll
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/_ViewStart.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/Order/ViewOrders.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.Views.pdb
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/_ViewImports.cshtml.g.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.Views.dll
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.TagHelpers.output.cache
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.TagHelpers.input.cache
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.RazorTargetAssemblyInfo.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.RazorTargetAssemblyInfo.cache
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.RazorCoreGenerate.cache
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.pdb
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.MvcApplicationPartsAssemblyInfo.cs
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.MvcApplicationPartsAssemblyInfo.cache
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.genruntimeconfig.cache
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.dll
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.csproj.FileListAbsolute.txt
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.csproj.CoreCompileInputs.cache
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.csproj.CopyComplete
ShoppingDemo.App/obj/Debug/netcoreapp5.0/ShoppingAppDemo.assets.cache
ShoppingDemo.App/obj/Debug/netcoreapp5.0/apphost.exe
ShoppingDemo.App/obj/ShoppingAppDemo.csproj.nuget.g.targets
ShoppingDemo.App/obj/ShoppingAppDemo.csproj.nuget.g.props
ShoppingDemo.App/obj/ShoppingAppDemo.csproj.nuget.dgspec.json
ShoppingDemo.App/obj/ShoppingAppDemo.csproj.EntityFrameworkCore.targets
ShoppingDemo.App/obj/project.nuget.cache
ShoppingDemo.App/obj/project.assets.json
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/Order/ViewOrders.cshtml.g.cs
ShoppingDemo.App/bin/Debug/netcoreapp5.0/System.Security.Cryptography.ProtectedData.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/ref/ShoppingAppDemo.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
ShoppingDemo.App/bin/Debug/netcoreapp5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
ShoppingDemo.App/bin/Debug/netcoreapp5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
ShoppingDemo.App/bin/Debug/netcoreapp5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
ShoppingDemo.App/bin/Debug/netcoreapp5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
ShoppingDemo.App/obj/Debug/netcoreapp5.0/Razor/Views/Order/ViewOrders.cshtml.g.cs
