@using Microsoft.AspNetCore.Identity
@using ShoppingDemo.App.Data.Entites;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager 
@{

    var user = UserManager.GetUserAsync(User).Result;
}
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
  <li class="nav-item">
         <a class="nav-link text-light" asp-controller="Identity" asp-action="ViewAccount">Welcome, @user.Email </a>
    </li>
    <li class="nav-item">
         <a class="nav-link text-light" asp-controller="ShoppingCart" asp-action="ViewCart"><i style="font-size:15px" class="fa">&#xf07a;</i>  Cart </a>
    </li>

      <li class="nav-item">
         <a class="nav-link text-light" asp-controller="Order" asp-action="ViewOrders">View Orders</a>
    </li>
    
    <li class="nav-item">
         <a class="nav-link text-light" asp-controller="Identity" asp-action="Logout"><i style="font-size:15px" class="fa">&#xf08b;</i>

 Log Out</a>
    </li>
} 
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Identity" asp-action="Register"><i style="font-size:15px" class="fa">&#xf044;</i>

 Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Identity" asp-action="Login">Login</a>
    </li>
}

</ul>
